version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10

    assignees:
      - "dinmukhamednurkaliyev"

    reviewers:
      - "dinmukhamednurkaliyev"

    labels:
      - "type/chore"
      - "area/ci"

    groups:
      actions:
        patterns:
          - "*"

  - package-ecosystem: "pub"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10

    assignees:
      - "dinmukhamednurkaliyev"
    reviewers:
      - "dinmukhamednurkaliyev"

    labels:
      - "type/chore"
      - "area/flutter"

    groups:
      dependencies:
        patterns:
          - "*"

    commit-message:
      prefix: "chore(deps)"
      prefix-development: "chore(deps-dev)"
      include: "scope"
